// Partials
@import "partials/reset";
@import "partials/base";
@import "partials/figures";
@import "partials/typography";
@import "partials/app-header";
@import "partials/app-footer";
@import "partials/car";
@import "partials/steps";
@import "partials/mixins";
@import "partials/colors";
@import "partials/buttons";
@import "partials/box";

//Themes
@import "themes/vw";
@import "themes/audi";
@import "themes/default";

//External
@import "fontawesome/font-awesome.scss";
