app-header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	height: 68px;
	color: #fff;


	a.previous {
		margin: 22px 0 0 0;
		display: inline-block;
		text-decoration: none;
		color: #fff;

		i {
			color: #0099da
		}
	}

	a.previous:hover i {
		color: darken(#0099da, 10)
	}


	p.price {
		margin: 24px 0 0 0;
		display: inline-block;
	}
}
