@import '../partials/colors';

app-header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	height: 68px;
	color: $white;


	a.previous {
		margin: 22px 0 0 0;
		display: inline-block;
		text-decoration: none;
		color: $white;
	}


	p.price {
		margin: 24px 0 0 0;
		display: inline-block;
	}
}
