//General Colors
$white: #fff;

//Volkswagen Colors
$vw-special: #0099da;
$vw-dark: #2f3638;
$vw-gray: #dee1e3;

//Audi Colors
$audi-special:#f72b2e;
$audi-dark:#2b2e34;
$audi-gray:#a4b3bb;


//Default Colors
$default-special:#eae0d5;
$default-dark:#363537;
$default-gray:#fdfdff;