//General Colors
$white: #fff;
$black:#1a1a1a;

//Volkswagen Colors
$vw-special: #0099da;
$vw-dark: #2f3638;
$vw-gray: #dee1e3;

//VW LCV Colors
$vw_lcv-special: #0099da;
$vw_lcv-dark: #dee1e3;
$vw_lcv-gray: #2f3638;

//Audi Colors
$audi-special:#f72b2e;
$audi-dark:#2b2e34;
$audi-gray:#a4b3bb;


//Default Colors
$default-special:#eae0d5;
$default-dark:#363537;
$default-gray:#fdfdff;
