@import '../partials/colors';

body {
	background-color: $white;
}

.m-t-lg {
	margin-top: 35px;
}

.m-t-md {
	margin-top: 20px;
}

.m-t-sm {
	margin-top: 5px;
}

.padding {
	padding: 20px;
}

.o-hidden {
	overflow: hidden;
}

a[disabled=disabled] {
	pointer-events: none;
	cursor: default;
}


table.table.table-hover {
	tbody {
		tr:hover {
			cursor: pointer;
		}
	}
}

div.body {
	min-height: 780px;
	display: block;
	margin-top: 80px;

	select-options {
		margin-top: 160px;
		display: block;
	}
}
