@import '../partials/colors';

body {
	background-color: $white;
}

.m-t-md {
	margin-top: 20px;
}

.m-t-sm {
	margin-top: 5px;
}

div.body {
	min-height: 780px;
	display: block;
	margin-top: 80px;
}
