@import '../partials/colors';

steps {
	.steps {
		padding: 0;
		overflow: hidden;
		width: 100%;
	}
	.steps a {
		text-decoration: none;
		display: block;
		margin: 0;
		padding: 30px 20px;
		position: relative;
		bottom: 4px;
	}

	.steps li:first-child:nth-last-child(1) {
		width: calc(100% / 1);
	}

	.steps li:first-child:nth-last-child(2),
	.steps li:first-child:nth-last-child(2)~li {
		width: calc(100% / 2);
	}

	.steps li:first-child:nth-last-child(3),
	.steps li:first-child:nth-last-child(3)~li {
		width: calc(100% / 3);
	}

	.steps li:first-child:nth-last-child(4),
	.steps li:first-child:nth-last-child(4)~li {
		width: calc(100% / 4);
	}

	.steps li:first-child:nth-last-child(5),
	.steps li:first-child:nth-last-child(5)~li {
		width: calc(100% / 5);
	}

	.steps li:first-child:nth-last-child(6),
	.steps li:first-child:nth-last-child(6)~li {
		width: calc(100% / 6);
	}

	.steps li {
		float: left;
		margin-left: 0;
		height: 80px;
		/* total height */
		list-style-type: none;
		/* width: gap between arrows, color: background of document */
		position: relative;
		/* padding around text, last should include arrow width */
		padding: 5px 5px 5px 30px;
	}

	.steps li:not(:last-child) {
		border-right: 3px solid $white;
	}


	/* remove extra padding on the first object since it doesn't have an arrow to the left */
	.steps li:first-child {
		padding-left: 5px;
	}
	/* white arrow to the left to "erase" background (starting from the 2nd object) */
	.steps li:nth-child(n+2)::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		border-left: 25px solid $white;
		/* width: arrow width, color: background of document */
		border-top: 40px solid transparent;
		/* width: half height */
		border-bottom: 40px solid transparent;
		/* width: half height */
		width: 0;
		height: 0;
		content: " ";
	}
	/* colored arrow to the right */
	.steps li:not(:last-child)::after {
		z-index: 1;
		/* need to bring this above the next item */
		position: absolute;
		top: 0;
		right: -25px;
		/* arrow width (negated) */
		display: block;
		border-left: 25px solid;
		/* width: arrow width */
		border-top: 40px solid transparent;
		/* width: half height */
		border-bottom: 40px solid transparent;
		/* width: half height */
		width: 0;
		height: 0;
		content: " ";
	}
}
