<div class="row m-t-lg">
	<h1>Επιλέξτε εξοπλισμό χειροκίνητα</small></h1>
</div>

<div class="row m-t-md">

	<form novalidate
	      name="addEquipmentForm"
	      ng-submit="$ctrl.submitForm(addEquipmentForm, $ctrl.equipment)">


		<div class="row form-group">

			<label for="code"
			       class="col-md-1">Κωδικός:</label>

			<div class="col-md-8">
				<input ng-model="$ctrl.equipment.code"
				       required
				       type="text"
				       name="code"
				       class="form-control"
				       placeholder="Συμπληρώστε τον κωδικού του εξοπλισμού">

				<div ng-show="addEquipmentForm.code.$error.required && (addEquipmentForm.code.$dirty || addEquipmentForm.$submitted)"
				     class="text-danger m-t-sm">Παρακαλώ συμπληρώστε το πεδίο</div>
			</div>

		</div>

		<div class="row form-group">

			<label for="code"
			       class="col-md-1">Περιγραφή:</label>

			<div class="col-md-8">
				<input ng-model="$ctrl.equipment.description"
				       required
				       name="description"
				       type="text"
				       class="form-control"
				       placeholder="Συμπληρώστε την περιγραφή του εξοπλισμού">


				<div ng-show="addEquipmentForm.description.$error.required && (addEquipmentForm.description.$dirty || addEquipmentForm.$submitted)"
				     class="text-danger m-t-sm">Παρακαλώ συμπληρώστε το πεδίο</div>
			</div>

		</div>

		<div class="row form-group">

			<label for="code"
			       class="col-md-1">CO2:</label>

			<div class="col-md-8">
				<input ng-model="$ctrl.equipment.co2"
				       required
				       name="co2"
				       type="number"
				       class="form-control"
				       placeholder="Συμπληρώστε το CO2">

				<div ng-show="addEquipmentForm.co2.$error.number && (addEquipmentForm.co2.$dirty || addEquipmentForm.$submitted)"
				     class="text-danger m-t-sm">Το πεδίο δεν είναι έγκυρο</div>

				<div ng-show="addEquipmentForm.co2.$error.required && (addEquipmentForm.co2.$dirty || addEquipmentForm.$submitted)"
				     class="text-danger m-t-sm">Παρακαλώ συμπληρώστε το πεδίο</div>
			</div>

		</div>

		<div class="row form-group">

			<label for="code"
			       class="col-md-1">Τιμή:</label>

			<div class="col-md-8">
				<div class="input-icon input-icon-right">

					<i>€</i>

					<input ng-model="$ctrl.equipment.price"
					       required
					       type="string"
					       name="price"
					       ui-number-mask="2"
					       class="form-control"
					       placeholder="Συμπληρώστε την τιμή του εξοπλισμού">

				</div>

				<div ng-show="addEquipmentForm.price.$error.pattern && (addEquipmentForm.price.$dirty || addEquipmentForm.$submitted)"
				     class="text-danger m-t-sm">Το πεδίο δεν είναι έγκυρο</div>

				<div ng-show="addEquipmentForm.price.$error.required && (addEquipmentForm.price.$dirty || addEquipmentForm.$submitted)"
				     class="text-danger m-t-sm">Παρακαλώ συμπληρώστε το πεδίο</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<button type="submit"
				        class=" btn btn-md my-button">Προσθήκη</button>
			</div>
		</div>
	</form>

</div>
