<div class="container-fluid">
	<div class="row">
		<h1>{{$ctrl.family.ModelDescription}} <small class="text-muted">{{$ctrl.model.ModelDescription}}</small></h1>


		<div class="m-t-md"
		     ng-show="!$ctrl.colors.length">
			<small class="text-muted">Δεν βρέθηκαν διαθέσιμα χρώματα.</small>
		</div>


		<div ng-show="$ctrl.colors.length"
		     class="table-responsive m-t-md">
			<table class="table table-hover">
				<thead>
					<tr>

						<th class="text-center"
						    width="10%">Εικόνα</th>

						<th class="text-center"
						    width="10%">Κωδικός</th>


						<th width="30%">Περιγραφή</th>

						<th class="text-center"
						    width="10%">Τιμή
						</th>

						<th class="text-center"
						    width="15%">CO2</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-click="$ctrl.toggleSelect(color)"
					    ng-class="{'active':$ctrl.isSelected(color.OptionCode)}"
					    ng-repeat="color in $ctrl.colors track by $index">
						<td>
							<img ng-src="{{$ctrl.imgPath + color.Photo}}"
							     err-src="{{$ctrl.defaultImg}}"
							     class="img-responsive">
						</td>

						<td class="text-center">{{color.OptionCode}}</td>
						<td>{{color.OptionDescription}}</td>
						<td class="text-center">{{color.Price | currency}}</td>
						<td class="text-center">{{color.ChangeCO2}}</td>

					</tr>
				</tbody>
			</table>

		</div>

	</div>

	
</div>
