<div class="container-fluid">
	<div class="row">
		<h1>{{$ctrl.family.ModelDescription}} <small class="text-muted">{{$ctrl.model.ModelDescription}}</small></h1>

		<span class="padding"
		      ng-show="!$ctrl.colors.length && $ctrl.gotColors">Δεν βρέθηκαν διαθέσιμα χρώματα.</span>


		<span class="padding"
		      ng-show="!$ctrl.colors.length && !$ctrl.gotColors">Παρακαλώ περιμένετε...</span>


		<div ng-show="$ctrl.colors.length"
		     class="table-responsive m-t-md">
			<table class="table table-hover">
				<thead>
					<tr>

						<th class="text-center"
						    width="10%">Εικόνα</th>

						<th class="text-center"
						    width="15%">Κωδικός</th>


						<th width="65%">Περιγραφή</th>

						<th class="text-center"
						    width="10%">Τιμή
						</th>


					</tr>
				</thead>

				<tbody>
					<tr ng-click="$ctrl.toggleSelect(color)"
					    ng-class="{'active':$ctrl.isSelected(color.OptionCode)}"
					    ng-repeat="color in $ctrl.colors track by $index">
						<td>
							<img ng-src="{{$ctrl.imgPath + color.Photo}}"
							     err-src="{{$ctrl.defaultImg}}"
							     class="img-responsive">
						</td>

						<td class="text-center">{{color.OptionCode}}</td>
						<td>{{color.OptionDescription}}</td>
						<td class="text-center">{{color.Price | currency}}</td>

					</tr>
				</tbody>
			</table>

		</div>

	</div>


</div>
