<div class="container-fluid">

	<a ng-show="!$ctrl.stateIs('app.select-family')"
	   href
	   ng-click="$ctrl.onBack()"
	   class="previous pull-left">
		<h2 class="text-center">
			<strong><i class="fa fa-angle-double-left"></i> {{$ctrl.familyName}}</strong>
			<small class="text-muted">{{$ctrl.modelName}}</small>
		</h2>
	</a>


	<img class="logo"
	     ng-src="./assets/img/{{$ctrl.theme}}-logo.png"
	     alt="{{$ctrl.theme}} logo">


	<p ng-show="!($ctrl.stateIs('app.select-family') || $ctrl.stateIs('app.select-options.step-one'))"
	   class="price pull-right">
		από {{$ctrl.price | currency}}
	</p>

</div>
