/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse; }

body {
  background-color: #fff; }

.m-t-lg {
  margin-top: 35px; }

.m-t-md {
  margin-top: 20px; }

.m-t-sm {
  margin-top: 5px; }

.padding {
  padding: 20px; }

.o-hidden {
  overflow: hidden; }

.p-0 {
  padding: 0 !important; }

a:focus {
  outline: none; }

a[disabled=disabled] {
  pointer-events: none;
  cursor: default !important; }

a:hover {
  cursor: pointer !important; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

@media (min-width: 768px) {
  .row.vertical-align {
    display: flex;
    align-items: center; } }

@media (max-width: 767px) {
  .rp-m-t-lg {
    margin-top: 35px; }
  .rp-m-t-md {
    margin-top: 20px; }
  .rp-m-t-sm {
    margin-top: 5px; } }

table th {
  font-weight: bold; }

table.table.table-hover tbody tr:hover {
  cursor: pointer; }

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th,
.table-hover tbody tr.active:hover td,
.table-hover tbody tr.active:hover th {
  background-color: #efefef; }

.table-hover tbody tr.active td,
.table-hover tbody tr.active th {
  background-color: #efefef; }

table.table-card td,
table.table-card th {
  margin: 8px 8px 8px 8px;
  padding: 8px 8px 8px 8px; }

table.table-card {
  border-collapse: separate;
  border-spacing: 10px;
  *border-collapse: expression('separate', cellSpacing='10px');
  width: 100%; }

table.table-card td {
  line-height: 20px; }

table.table-card tr.row-border td {
  background-color: #f2f2f2;
  margin: 20px 0;
  padding: 1px 0; }

td.va-middle {
  vertical-align: middle; }

td[tr-ng-grid-footer-cell] {
  display: none; }

div.body {
  min-height: 780px;
  display: block;
  margin-top: 80px; }
  div.body select-options {
    margin-top: 160px;
    margin-bottom: 60px;
    display: block; }

.input-icon {
  position: relative; }

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal; }

.input-icon > input {
  padding-left: 25px;
  padding-right: 0; }

.input-icon-right > i {
  right: 5px; }

.input-icon-right > input {
  padding-left: 12px;
  padding-right: 30px;
  text-align: right; }

label > input {
  display: none; }

label input:focus {
  display: block; }

body {
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; }

h1 {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h2 {
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px; }

h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px; }

p {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

blockquote {
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }

pre {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5667px; }

steps a {
  font-size: 18px; }

app-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  height: 80px;
  color: #fff; }
  app-header a.previous {
    margin: 30px 0 0 0;
    display: inline-block;
    text-decoration: none;
    color: #fff; }
    @media (min-width: 641px) and (max-width: 961px) {
      app-header a.previous small {
        width: 213px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; } }
  app-header p.price {
    margin: 32px 0 0 0;
    display: inline-block; }
  app-header img.logo {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    padding: 15px;
    height: 80px;
    width: auto; }

car a {
  width: 100%;
  height: 200px;
  padding: 50px;
  display: block;
  text-align: center; }

car a:hover,
car a:focus {
  cursor: pointer;
  text-decoration: none; }

car p {
  color: #1a1a1a; }

steps {
  /* remove extra padding on the first object since it doesn't have an arrow to the left */
  /* white arrow to the left to "erase" background (starting from the 2nd object) */
  /* colored arrow to the right */ }
  steps .steps {
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 1; }
  steps .steps a {
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 30px 20px;
    position: relative;
    bottom: 4px; }
  steps .steps li:first-child:nth-last-child(1) {
    width: calc(100% / 1); }
  steps .steps li:first-child:nth-last-child(2),
  steps .steps li:first-child:nth-last-child(2) ~ li {
    width: calc(100% / 2); }
  steps .steps li:first-child:nth-last-child(3),
  steps .steps li:first-child:nth-last-child(3) ~ li {
    width: calc(100% / 3); }
  steps .steps li:first-child:nth-last-child(4),
  steps .steps li:first-child:nth-last-child(4) ~ li {
    width: calc(100% / 4); }
  steps .steps li:first-child:nth-last-child(5),
  steps .steps li:first-child:nth-last-child(5) ~ li {
    width: calc(100% / 5); }
  steps .steps li:first-child:nth-last-child(6),
  steps .steps li:first-child:nth-last-child(6) ~ li {
    width: calc(100% / 6); }
  steps .steps li {
    float: left;
    margin-left: 0;
    height: 80px;
    /* total height */
    list-style-type: none;
    /* width: gap between arrows, color: background of document */
    position: relative;
    /* padding around text, last should include arrow width */
    padding: 5px 5px 5px 30px; }
  steps .steps li:not(:last-child) {
    border-right: 3px solid #fff; }
  steps .steps li:first-child {
    padding-left: 5px; }
  steps .steps li:nth-child(n+2)::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-left: 25px solid #fff;
    /* width: arrow width, color: background of document */
    border-top: 40px solid transparent;
    /* width: half height */
    border-bottom: 40px solid transparent;
    /* width: half height */
    width: 0;
    height: 0;
    content: " "; }
  steps .steps li:not(:last-child)::after {
    z-index: 1;
    /* need to bring this above the next item */
    position: absolute;
    top: 0;
    right: -25px;
    /* arrow width (negated) */
    display: block;
    border-left: 25px solid;
    /* width: arrow width */
    border-top: 40px solid transparent;
    /* width: half height */
    border-bottom: 40px solid transparent;
    /* width: half height */
    width: 0;
    height: 0;
    content: " "; }

options-footer {
  height: 60px;
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  padding: 10px 0; }

button.my-button {
  border: none;
  border-radius: 0;
  cursor: pointer; }

div.box {
  -webkit-box-shadow: -1px 5px 8px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 5px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 5px 8px -4px rgba(0, 0, 0, 0.75); }
  div.box label {
    font-weight: bold; }
  div.box div.box-header {
    padding: 20px 30px; }
  div.box div.box-body {
    background-color: #fff;
    padding: 20px 30px; }
  div.box div.box-footer {
    padding: 20px 30px; }

#loading-bar {
  pointer-events: all;
  z-index: 99999;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6); }

#loading-bar,
#loading-bar-spinner .spinner-icon {
  z-index: 9999; }

.modal-content {
  border-radius: 0; }

.vw app-header {
  background-color: #2f3638; }
  .vw app-header a.previous:hover i {
    color: #0075a7; }
  .vw app-header a.previous i {
    color: #0099da; }

.vw options-footer {
  background-color: #dee1e3; }

.vw steps .steps a {
  color: #0099da i;
    color-color: #0099da; }

.vw steps li {
  background-color: #d0d4d7; }
  .vw steps li:not(:last-child)::after {
    border-left-color: #d0d4d7; }
  .vw steps li.current {
    background-color: #eceeef; }
    .vw steps li.current a,
    .vw steps li.current a > i {
      color: #0099da; }
    .vw steps li.current::after {
      border-left-color: #eceeef; }
    .vw steps li.current ~ li {
      background-color: #d0d4d7; }
      .vw steps li.current ~ li a {
        color: #fff; }
        .vw steps li.current ~ li a i {
          color: #efefef; }
      .vw steps li.current ~ li::after {
        border-left-color: #d0d4d7; }
  .vw steps li:hover {
    background-color: #c2c8cc; }
    .vw steps li:hover::after {
      border-left-color: #c2c8cc; }

.vw button.my-button {
  background-color: #0099da;
  color: #fff; }

.vw div.box div.box-header {
  background-color: #2f3638;
  color: #fff; }

.vw #loading-bar .bar {
  background: #0099da;
  height: 4px; }

.vw #loading-bar-spinner .spinner-icon {
  width: 18px;
  height: 18px;
  border: solid 4px transparent;
  border-top-color: #0099da;
  border-left-color: #0099da;
  border-radius: 10px; }

.vw_lcv app-header {
  background-color: #dee1e3;
  color: #4d4d4d; }
  .vw_lcv app-header a.previous {
    color: #4d4d4d; }
    .vw_lcv app-header a.previous:hover i {
      color: #0075a7; }
    .vw_lcv app-header a.previous i {
      color: #0099da; }

.vw_lcv options-footer {
  background-color: #2f3638; }

.vw_lcv steps .steps a {
  color: #0099da i;
    color-color: #0099da; }

.vw_lcv steps li {
  background-color: #23292a; }
  .vw_lcv steps li:not(:last-child)::after {
    border-left-color: #23292a; }
  .vw_lcv steps li.current {
    background-color: #3b4346; }
    .vw_lcv steps li.current a,
    .vw_lcv steps li.current a > i {
      color: #0099da; }
    .vw_lcv steps li.current::after {
      border-left-color: #3b4346; }
    .vw_lcv steps li.current ~ li {
      background-color: #23292a; }
      .vw_lcv steps li.current ~ li a {
        color: #fff; }
        .vw_lcv steps li.current ~ li a i {
          color: #efefef; }
      .vw_lcv steps li.current ~ li::after {
        border-left-color: #23292a; }
  .vw_lcv steps li:hover {
    background-color: #181b1c; }
    .vw_lcv steps li:hover::after {
      border-left-color: #181b1c; }

.vw_lcv button.my-button {
  background-color: #0099da;
  color: #fff; }

.vw_lcv div.box div.box-header {
  background-color: #dee1e3;
  color: #fff; }

.vw_lcv #loading-bar .bar {
  background: #0099da;
  height: 4px; }

.vw_lcv #loading-bar-spinner .spinner-icon {
  width: 18px;
  height: 18px;
  border: solid 4px transparent;
  border-top-color: #0099da;
  border-left-color: #0099da;
  border-radius: 10px; }

.audi app-header {
  background-color: #2b2e34; }
  .audi app-header a.previous:hover i {
    color: #e6090c; }
  .audi app-header a.previous i {
    color: #f72b2e; }

.audi options-footer {
  background-color: #a4b3bb; }

.audi steps .steps a {
  color: #f72b2e; }
  .audi steps .steps a i {
    color: #f72b2e; }

.audi steps li {
  background-color: #95a7b0; }
  .audi steps li:not(:last-child)::after {
    border-left-color: #95a7b0; }
  .audi steps li.current {
    background-color: #b3bfc6; }
    .audi steps li.current a,
    .audi steps li.current a > i {
      color: #f72b2e; }
    .audi steps li.current::after {
      border-left-color: #b3bfc6; }
    .audi steps li.current ~ li {
      background-color: #95a7b0; }
      .audi steps li.current ~ li a {
        color: #fff; }
        .audi steps li.current ~ li a i {
          color: #efefef; }
      .audi steps li.current ~ li::after {
        border-left-color: #95a7b0; }
  .audi steps li:hover {
    background-color: #879ba5; }
    .audi steps li:hover::after {
      border-left-color: #879ba5; }

.audi button.my-button {
  background-color: #f72b2e;
  color: #fff; }

.audi div.box div.box-header {
  background-color: #2b2e34;
  color: #fff; }

.audi #loading-bar .bar {
  background: #f72b2e;
  height: 4px; }

.audi #loading-bar-spinner .spinner-icon {
  width: 18px;
  height: 18px;
  border: solid 4px transparent;
  border-top-color: #f72b2e;
  border-left-color: #f72b2e;
  border-radius: 10px; }

.default app-header {
  background-color: #363537; }
  .default app-header a.previous:hover i {
    color: #d9c7b3; }
  .default app-header a.previous i {
    color: #eae0d5; }

.default options-footer {
  background-color: #fdfdff; }

.default steps .steps a {
  color: #eae0d5 i;
    color-color: #eae0d5; }

.default steps li {
  background-color: #e4e4ff; }
  .default steps li:not(:last-child)::after {
    border-left-color: #e4e4ff; }
  .default steps li.current {
    background-color: white; }
    .default steps li.current a,
    .default steps li.current a > i {
      color: #eae0d5; }
    .default steps li.current::after {
      border-left-color: white; }
    .default steps li.current ~ li {
      background-color: #e4e4ff; }
      .default steps li.current ~ li a {
        color: #fff; }
        .default steps li.current ~ li a i {
          color: #efefef; }
      .default steps li.current ~ li::after {
        border-left-color: #e4e4ff; }
  .default steps li:hover {
    background-color: #cacaff; }
    .default steps li:hover::after {
      border-left-color: #cacaff; }

.default button.my-button {
  background-color: #eae0d5;
  color: #fff; }

.default div.box div.box-header {
  background-color: #363537;
  color: #fff; }

.default #loading-bar .bar {
  background: #eae0d5;
  height: 4px; }

.default #loading-bar-spinner .spinner-icon {
  width: 18px;
  height: 18px;
  border: solid 4px transparent;
  border-top-color: #eae0d5;
  border-left-color: #eae0d5;
  border-radius: 10px; }
