<div class="container-fluid">

	<button ng-click="$ctrl.onNext({step:$ctrl.getCurrentStep($ctrl.state.current.name)})"
	        ng-disabled="$ctrl.isDisabled()"
	        ng-hide="$ctrl.state.includes('app.select-options.step-four')"
	        class="btn btn-lg my-button pull-right">Επόμενο</button>

	<button ng-click="$ctrl.onSubmit()"
	        ng-disabled="!$ctrl.isFormValid"
		ng-show="$ctrl.state.includes('app.select-options.step-four')"
	        class="btn btn-lg my-button pull-right">Υποβολή</button>

</div>
