<div class="container-fluid">


	<div class="row vertical-align">

		<div class="col-md-8">
			<div class="box rp-m-t-md">
				<!--<div class="box-header">
					<h2>  Πληροφορίες</h2>
				</div>-->

				<form name="submitOptionsForm"
				      ng-submit="$ctrl.submitOptions()">

					<div ng-init="$ctrl.setFormValidity(submitOptionsForm)"
					     class="box-body table-responsive">

						<table class="table-card">
							<tbody>

								<tr>
									<th colspan="2"></th>
									<th class="text-center">Κωδικός</th>
									<th class="text-center">CO2</th>
									<th class="text-right">Χωρίς Φ.Π.Α</th>
									<th class="text-right">Με Φ.Π.Α</th>
								</tr>


								<tr>
									<th>Μοντέλο</th>
									<td>{{$ctrl.model.ModelDescription}}
										<td class="text-center">{{$ctrl.model.PresentationCode || '-'}}</td>
										<td class="text-center">{{$ctrl.model.CO2EmissionCombined}}</td>
										<td class="text-right">{{$ctrl.model.Price | currency}}</td>
										<td class="text-right">{{$ctrl.model.Price * $ctrl.taxFee| currency}}</td>
								</tr>

								<tr ng-show="$ctrl.color.OptionName">
									<th>Χρώμα</th>
									<td>{{$ctrl.color.OptionDescription}}
										<td class="text-center">{{$ctrl.color.PresentationFee || '-'}}</td>
										<td class="text-center">{{$ctrl.color.ChangeCO2 || '-'}}</td>
										<td class="text-right">{{$ctrl.color.Price | currency}}</td>
										<td class="text-right">{{$ctrl.color.Price * $ctrl.taxFee| currency}}</td>
								</tr>

								<tr ng-show="$ctrl.equipment.autoEquipments && $ctrl.equipment.autoEquipments.length">
									<th>Πρόσθετος εξοπλισμός</th>

									<div>
										<td>{{$ctrl.equipment.autoEquipments[0].OptionDescription}} </td>

										<td class="text-center">{{$ctrl.equipment.autoEquipments[0].PresentationFee || '-'}}</td>

										<td class="text-center">{{$ctrl.equipment.autoEquipments[0].ChangeCO2 || '-'}}</td>

										<td class="text-right">{{$ctrl.equipment.autoEquipments[0].Price | currency}}</td>

										<td class="text-right">{{$ctrl.equipment.autoEquipments[0].Price * $ctrl.taxFee | currency}}</td>
									</div>

								</tr>

								<tr ng-show="$ctrl.equipment.autoEquipments && $ctrl.equipment.autoEquipments.length > 1"
								    ng-repeat="equipment in $ctrl.equipment.autoEquipments | limitTo: (1 - $ctrl.equipment.autoEquipments.length) track by $index">
									<th></th>
									<td>{{equipment.OptionDescription}} </td>

									<td class="text-center">{{equipment.PresentationFee || '-'}}</td>

									<td class="text-center">{{equipment.ChangeCO2 || '-'}}</td>

									<td class="text-right">{{equipment.Price | currency}}</td>

									<td class="text-right">{{equipment.Price * $ctrl.taxFee | currency}}</td>
								</tr>

								<tr ng-show="$ctrl.equipment.manualEquipments && $ctrl.equipment.manualEquipments.length">
									<th>Εξοπλισμός που προστέθηκε χειροκίνητα</th>

									<div>
										<td>{{$ctrl.equipment.manualEquipments[0].description}} </td>

										<td class="text-center">{{$ctrl.equipment.manualEquipments[0].code}}</td>

										<td class="text-center">{{$ctrl.equipment.manualEquipments[0].co2}}</td>

										<td class="text-right">{{$ctrl.equipment.manualEquipments[0].price | currency}}</td>

										<td class="text-right"> {{$ctrl.equipment.manualEquipments[0].price * $ctrl.taxFee | currency}}</td>
									</div>

								</tr>

								<div ng-show="$ctrl.equipment.manualEquipments && $ctrl.equipment.manualEquipments.length > 1">

									<tr ng-repeat="equipment in $ctrl.equipment.manualEquipments | limitTo: (1 - $ctrl.equipment.manualEquipments.length) track by $index">
										<th></th>

										<td>{{equipment.description}} </td>

										<td class="text-center">{{equipment.code}}</td>

										<td class="text-center">{{equipment.co2}}</td>

										<td class="text-right">{{equipment.price | currency}}</td>

										<td class="text-right">{{equipment.price * $ctrl.taxFee | currency}}</td>
									</tr>

								</div>

								<tr class="row-border">
									<td colspan="6"></td>
								</tr>

								<tr>
									<th>ΑΠΛΤΠΦ</th>

									<td colspan="3"></td>

									<td class="va-middle text-right">
										{{$ctrl.finalPrice.noRegTax | currency}}
									</td>

								</tr>

								<tr>
									<th>Τέλος ταξινόμησης</th>

									<td></td>

									<td>
										<button type="button"
										        ng-click="$ctrl.calcFee(); $ctrl.calcTrafficCharge(); $ctrl.setFormValidity(submitOptionsForm)"
										        class="btn btn-md my-button">Υπολογισμός</button>
									</td>

									<td colspan="2"
									    class="va-middle">
										<div class="input-icon input-icon-right">

											<i>€</i>


											<input required
											       name="regTax"
											       ng-change="$ctrl.calcFinalPrices(); $ctrl.setFormValidity(submitOptionsForm);"
											       ng-model="$ctrl.regTax"
											       placeholder="Συμπληρώστε ή υπολογίστε"
											       type="text"
											       ui-number-mask="2"
											       class="form-control">

										</div>
									</td>

								</tr>

								<tr>
									<th>Σύνολο χωρίς Φ.Π.Α</th>

									<td></td>
									<td></td>

									<td colspan="2"
									    class="va-middle">
										<div class="input-icon input-icon-right">

											<i>€</i>

											<input required
											       disabled
											       name="beforeTax"
											       ng-model="$ctrl.finalPrice.beforeTax"
											       placeholder="Συμπληρώστε ή υπολογίστε"
											       ng-change="$ctrl.setFormValidity(submitOptionsForm)"
											       type="text"
											       ui-number-mask="2"
											       class="form-control input-symbol-euro">

										</div>
									</td>

								</tr>

								<tr>
									<th>ΑΠΛΤ</th>

									<td colspan="2"></td>

									<td colspan="2"
									    class="va-middle">

										<div class="input-icon input-icon-right">

											<i>€</i>

											<input required
											       disabled
											       name="afterTax"
											       ng-model="$ctrl.finalPrice.afterTax"
											       placeholder="Συμπληρώστε ή υπολογίστε"
											       type="text"
											       ui-number-mask="2"
											       class="form-control input-symbol-euro">


										</div>

									</td>

								</tr>

								<tr>
									<th>Tέλη κυκλοφορίας</th>

									<td colspan="2"></td>


									<td colspan="2"
									    class="va-middle">
										<div class="input-icon input-icon-right">

											<i>€</i>

											<input required
											       name="regTax"
											       ng-model="$ctrl.trafficCharge"
											       placeholder="Συμπληρώστε ή υπολογίστε"
											       type="text"
											       ui-number-mask="2"
											       class="form-control">

										</div>
									</td>

								</tr>


							</tbody>

						</table>

					</div>

					<!--{{submitOptionsForm.regTax.$invalid}}
					{{submitOptionsForm.beforeTax.$invalid}}
					{{submitOptionsForm.afterTax.$invalid}}-->
					<!--<div class="box-footer clearfix">
						<button ng-disabled="submitOptionsForm.$invalid"
						        type="submit"
						        class="pull-right btn btn-lg my-button">Υποβολή</button>
					</div>-->

				</form>
			</div>

			<div uib-alert
			     ng-show="$ctrl.alert.isShown"
			     class="{{$ctrl.alert.class}} m-t-md"
			     close="$ctrl.alert.hide()">{{$ctrl.alert.msg}}</div>

		</div>

		<div class="col-md-4">
			<img ng-src="{{$ctrl.carImg}}"
			     err-src="{{$ctrl.defaultImg}}"
			     class="img-responsive">

		</div>


	</div>


</div>
