<div class="container-fluid">


	<div class="row vertical-align">

		<div class="col-md-4 col-md-offset-1">
			<img ng-src="{{$ctrl.imgPath + ($ctrl.equipment.autoEquipments.lenght ? $ctrl.equipment.autoEquipments[0].Photo : $ctrl.color.Photo)}}"
		
			     err-src="{{$ctrl.defaultImg}}"
			     class="img-responsive">

		</div>

		<div class="col-md-5">
			<div class="box rp-m-t-md">
				<div class="box-header">
					<h2>  Πληροφορίες</h2>
				</div>
				<div class="box-body table-responsive">

					<table class="table-card">
						<tbody>

							<tr>
								<td></td>
								<td></td>
								<th>Χωρίς Φ.Π.Α</th>
								<th>Με Φ.Π.Α</th>
							</tr>

							<tr>
								<th>Μάρκα</th>
								<td>{{$ctrl.make.ModelDescription}}</td>
							</tr>

							<tr>
								<th>Οικογένεια</th>
								<td>{{$ctrl.family.ModelDescription}}</td>
							</tr>

							<tr>
								<th>Μοντέλο</th>
								<td>{{$ctrl.model.ModelDescription}} <small class="text-muted">({{$ctrl.model.Code}})</small></td>
								<td>{{$ctrl.model.Price | currency}}</td>
								<td>{{$ctrl.model.Price * $ctrl.taxFee| currency}}</td>
							</tr>

							<tr>
								<th>Χρώμα</th>
								<td>{{$ctrl.color.OptionDescription}} <small class="text-muted">({{$ctrl.color.OptionCode}})</small></td>
								<td>{{$ctrl.color.Price | currency}}</td>
								<td>{{$ctrl.color.Price * $ctrl.taxFee| currency}}</td>
							</tr>

							<tr>
								<th>Εξοπλισμός από λίστα</th>

								<div ng-show="$ctrl.equipment.autoEquipments && $ctrl.equipment.autoEquipments.length">
									<td>{{$ctrl.equipment.autoEquipments[0].OptionDescription}}
										<small class="text-muted">({{$ctrl.equipment.autoEquipments[0].OptionCode}})</small>
									</td>

									<td>{{$ctrl.equipment.autoEquipments[0].Price | currency}}</td>

									<td>{{$ctrl.equipment.autoEquipments[0].Price * $ctrl.taxFee | currency}}</td>
								</div>

							</tr>

							<tr ng-show="$ctrl.equipment.autoEquipments && $ctrl.equipment.autoEquipments.length > 1"
							    ng-repeat="equipment in $ctrl.equipment.autoEquipments | limitTo: (1 - $ctrl.equipment.autoEquipments.length) track by $index">
								<th></th>
								<td>{{equipment.OptionDescription}}
									<small class="text-muted">({{equipment.OptionCode}})</small>
								</td>

								<td>{{equipment.Price | currency}}</td>

								<td>{{equipment.Price * $ctrl.taxFee | currency}}</td>
							</tr>

							<tr>
								<th>Εξοπλισμός που προστέθηκε χειροκίνητα ({{$ctrl.equipment.manualEquipments && $ctrl.equipment.manualEquipments.length}})</th>

								<td ng-show="!($ctrl.equipment.manualEquipments && $ctrl.equipment.manualEquipments.length)">-</td>

								<div ng-show="$ctrl.equipment.manualEquipments && $ctrl.equipment.manualEquipments.length">
									<td>{{$ctrl.equipment.manualEquipments[0].description}}
										<small class="text-muted">({{$ctrl.equipment.manualEquipments[0].code}})</small>
									</td>

									<td>{{$ctrl.equipment.manualEquipments[0].price | currency}}</td>

									<td>{{$ctrl.equipment.manualEquipments[0].price * $ctrl.taxFee | currency}}</td>
								</div>

							</tr>

							<div ng-show="$ctrl.equipment.manualEquipments && $ctrl.equipment.manualEquipments.length > 1">

								<tr ng-repeat="equipment in $ctrl.equipment.manualEquipments | limitTo: (1 - $ctrl.equipment.manualEquipments.length) track by $index">
									<th></th>
									<td>{{equipment.description}}
										<small class="text-muted">({{$ctrl.equipment.code}})</small>
									</td>

									<td>{{equipment.price | currency}}</td>

									<td>{{equipment.price * $ctrl.taxFee | currency}}</td>
								</tr>

							</div>


							<tr>
								<th>Σύνολο</th>
								<td class="va-middle">
									{{$ctrl.finalPrice.noRegTax | currency}}
								</td>

							</tr>

							<tr>
								<th>Τέλος ταξινόμησης</th>
								<td class="va-middle">
									<input ng-model="$ctrl.regTax"
									       ui-currency
									       placeholder="Συμπληρώστε ή υπολογίστε το τέλος ταξινόμησης"
									       type="text"
									       class="form-control">
								</td>
								<td>
									<button ng-click="$ctrl.calcFee()"
									        class="btn btn-md my-button">Υπολογισμός</button>
								</td>
							</tr>

							<tr>
								<th>Τελική τιμή χωρίς Φ.Π.Α</th>
								<td class="va-middle">
									<input ng-model="$ctrl.finalPrice.beforeTax"
									       ui-currency
									       placeholder="Συμπληρώστε ή υπολογίστε το τέλος ταξινόμησης"
									       type="text"
									       class="form-control">
								</td>

							</tr>

							<tr>
								<th>Τελική τιμή με Φ.Π.Α</th>
								<td class="va-middle">
									<input ng-model="$ctrl.finalPrice.afterTax"
									       ui-currency
									       placeholder="Συμπληρώστε ή υπολογίστε το τέλος ταξινόμησης"
									       type="text"
									       class="form-control">
								</td>

							</tr>

						</tbody>
					</table>


				</div>
			</div>
		</div>

	</div>

	<div class="row m-t-md">
		<div class="col-md-4 col-md-offset-6">
			<button class="pull-right btn btn-lg my-button">Υποβολή</button>
		</div>
	</div>


</div>
