<div>

	<h1>{{$ctrl.family.name}}</h1>

	<div class="table-responsive m-t-md">
		<table tr-ng-grid=""
		       items="$ctrl.models"
		       selected-items="or.mySelectedItems"
		       selection-mode="SingleRow"
		       enable-filtering="false"
		       enable-sorting="false"
		       class="table table-hover">
			<thead>
				<tr>
					<th display-name="Εικόνα"
					    width="10%"></th>

					<th field-name="ModelDescription"
					    display-name="Περιγραφή"
					    width="40%"></th>

					<th field-name="model.PowerKW"
					    display-name="CC/PS/KW"
					    display-format="modelInformation:gridItem"
					    display-align="center"
					    width="20%"></th>

					<th display-name="Τιμή"
					    display-align="center"
					    width="10%">
					</th>

					<th field-name="CO2EmissionCombined"
					    display-name="CO2"
					    display-align="center"
					    width="10%"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<img class="img-responsive"
						     ng-src="{{gridDisplayItem.Photo || 'undefined'}}"
						     err-src="{{$ctrl.default.url}}"
						     alt="{{model.ModelDescription}}">
					</td>

					<td>
						<div>{{(gridDisplayItem.Price || '-') | currency}}</div>
					</td>
				</tr>
			</tbody>
			<!--<tbody>
				<tr>
					<td>
						<img ng-src="{{model.Photo}}"
						     err-src="{{$ctrl.default.url}}"
						     alt="{{model.ModelDescription}}">
					</td>
					<td>{{model.ModelDescription}}</td>
					<td>{{'-/ ' + model.PowerKW + ' / ' + model.PowerPS}}</td>
					<td>{{model.Price}}</td>
					<td>{{model.CO2EmissionCombined}}</td>
				</tr>
			</tbody>-->
		</table>

	</div>

</div>
