<span class="padding"
      ng-show="!$ctrl.models.length && $ctrl.gotModels">Δεν βρέθηκαν μοντέλα</span>

<span class="padding"
      ng-show="!$ctrl.models.length && !$ctrl.gotModels">Παρακαλώ περιμένετε...</span>

<div ng-show="$ctrl.models.length"
     class="container-fluid">

	<h1>{{$ctrl.family.name}}</h1>

	<div class="table-responsive m-t-md">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center"
					    width="10%">Εικόνα</th>

					<th width="15%">Κωδικός</th>

					<th width="30%">Περιγραφή</th>

					<th class="text-center"
					    width="20%">CC/PS/KW</th>

					<th class="text-center"
					    width="20%">CO2</th>

					<th class="text-right"
					    width="15%">Τιμή
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="$ctrl.toggleSelect(model)"
				    ng-class="{'active':$ctrl.isSelected(model.Code)}"
				    ng-repeat="model in $ctrl.models track by $index"
					id="{{'car-'+$index}}">
					
					<td>
						<img ng-src="{{$ctrl.imgPath + model.Photo}}"
						     err-src="{{$ctrl.defaultImg}}"
						     class="img-responsive">
					</td>

					<td>{{model.PresentationCode}}</td>

					<td>{{model.ModelDescription || '-'}}</td>

					<td class="text-center">{{(model.EngineDisplacement || '-') + ' / ' + (model.PowerPS || '-') + ' / ' +(model.PowerKW || '-')}}</td>


					<td class="text-center">{{model.CO2EmissionCombined || '-'}}</td>

					<td class="text-right">{{model.Price | currency}} <span ng-show="!model.Price">-</span></td>
				</tr>
			</tbody>
		</table>

	</div>


</div>
