<span class="padding"
      ng-show="!$ctrl.models.length">Δεν βρέθηκαν μοντέλα</span>

<div ng-show="$ctrl.models.length"
     class="container-fluid">

	<h1>{{$ctrl.family.name}}</h1>

	<div class="table-responsive m-t-md">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center"
					    width="10%">Εικόνα</th>

					<th width="15%">Κωδικός</th>

					<th width="30%">Περιγραφή</th>

					<th class="text-center"
					    width="20%">CC/PS/KW</th>

					<th class="text-center"
					    width="15%">Τιμή
					</th>

					<th class="text-center"
					    width="20%">CO2</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="$ctrl.toggleSelect(model)"
				    ng-class="{'active':$ctrl.isSelected(model.Code)}"
				    ng-repeat="model in $ctrl.models track by $index">

					<td>
						<img ng-src="{{$ctrl.imgPath + model.Photo}}"
						     err-src="{{$ctrl.defaultImg}}"
						     class="img-responsive">
					</td>

					<td>{{model.Code}}</td>

					<td>{{model.ModelDescription || '-'}}</td>

					<td class="text-center">{{(model.EngineDisplacement || '-') + ' / ' + (model.PowerKW || '-') + ' / ' +(model.PowerPS || '-')}}</td>

					<td class="text-center">{{model.Price | currency}} <span ng-show="!model.Price">-</span></td>

					<td class="text-center">{{model.CO2EmissionCombined || '-'}}</td>
				</tr>
			</tbody>
		</table>

	</div>

	<button ng-click="$ctrl.onSelect({model:$ctrl.selectedItem})"
	        ng-disabled="!$ctrl.selectedItem.Code"
	        class="pull-right my-button btn btn-lg ">Επόμενο</button>


</div>
