<div class="container-fluid">


	<div class="row">
		<h1>Εξοπλισμοί από λίστα</h1>


		<div class="m-t-md"
		     ng-show="!$ctrl.equipment.length">
			<small class="text-muted">Δεν βρέθηκε διαθέσιμος εξοπλισμός</small>
		</div>


		<div ng-show="$ctrl.equipment.length"
		     class="table-responsive m-t-md">
			<table class="table table-hover">
				<thead>
					<tr>

						<th class="text-center"
						    width="10%">Εικόνα</th>

						<th class="text-center"
						    width="10%">Κωδικός</th>

						<th width="30%">Περιγραφή</th>

						<th class="text-center"
						    width="15%">CO2</th>

						<th class="text-center"
						    width="10%">
							Τιμή
						</th>


						<th class="text-center"
						    width="15%">Τύπος</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{'active':$ctrl.isSelected(equipment.OptionCode)}"
					    ng-click="$ctrl.toggleSelect(equipment)"
					    ng-repeat="equipment in $ctrl.equipment track by $index">

						<td>
							<img ng-src="{{$ctrl.imgPath + equipment.Photo}}"
							     err-src="{{$ctrl.defaultImg}}"
							     class="img-responsive">
						</td>

						<td class="text-center">{{equipment.OptionCode}}</td>

						<td>{{equipment.OptionDescription}}</td>

						<td class="text-center">{{equipment.ChangeCO2}}</td>

						<td class="text-center">{{equipment.Price | currency}}</td>


						<td class="text-center">{{equipment.ItemGroup}}</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>

	<div class="row m-t-lg o-hidden">
		<h1>Χειροκίνητοι εξοπλισμοί</h1>

		<div class="m-t-md"
		     ng-show="!$ctrl.manualEquipments.length">
			<small class="text-muted">Δεν έχετε προσθέσει εξοπλισμό χειροκίνητα</small>
		</div>

		<div ng-show="$ctrl.manualEquipments.length"
		     class="table-responsive m-t-md">
			<table class="table">
				<thead>
					<tr>
						<th>Κωδικός</th>
						<th>Περιγραφή</th>
						<th>CO2</th>
						<th>Τιμή</th>
						<th>Ενέργεια</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="equipment in $ctrl.manualEquipments track by $index">
						<td>{{equipment.code}}</td>
						<td>{{equipment.description}}</td>
						<td>{{equipment.co2}}</td>
						<td>{{equipment.price | currency}}</td>
						<td><button ng-click="$ctrl.removeEquipment($index)"
							        class="btn btn-md my-button">Αφαίρεση</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<manual-equipment-form on-select="$ctrl.addEquipment(equipment)"></manual-equipment-form>


	<div class="row m-t-md">
		<button ng-click="$ctrl.onSelect({
			equipment: 
			{
                autoEquipments:$ctrl.selectedItems,
                manualEquipments:$ctrl.manualEquipments
            },
			isNextSelected:true
            })"
		        class="pull-right my-button btn btn-lg ">Επόμενο</button>
	</div>


</div>
