<ul class="steps steps-5">
	<li>
		<a href="#"
		   title="">
			<i class="fa fa-check-circle"></i> <span class="hidden-xs ">Step 1</span>
		</a>
	</li>
	<li class="current">
		<a href="#"
		   title="">
			<i class="fa fa-circle-o"></i> <span class="hidden-xs ">Step 2</span>
		</a>
	</li>
	<li>
		<a href="#"
		   title="">
			<i class="fa fa-circle-o"></i> <span class="hidden-xs ">Step 3</span>
		</a>
	</li>

	<li>
		<a href="#"
		   title="">
			<i class="fa fa-circle-o"></i> <span class="hidden-xs ">Step 4</span>
		</a>
	</li>
</ul>
