<ul class="steps steps-5">
	<li ui-sref-active="current">
		<a ui-sref="app.select-options.step-one">
			<i class="fa fa-check-circle"></i> <span class="hidden-xs ">Μοντελο</span>
		</a>
	</li>
	<li ui-sref-active="current">
		<a ui-sref="app.select-options.step-two">
			<i class="fa fa-circle-o"></i> <span class="hidden-xs ">Χρώμα</span>
		</a>
	</li>
	<li ui-sref-active="current">
		<a ui-sref="app.select-options.step-three">
			<i class="fa fa-circle-o"></i> <span class="hidden-xs ">Εξοπλισμός</span>
		</a>
	</li>

	<li ui-sref-active="current">
		<a ui-sref="app.select-options.step-four">
			<i class="fa fa-circle-o"></i> <span class="hidden-xs ">Σύνοψη</span>
		</a>
	</li>
</ul>
